<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="text" type="text" name="input" value="" placeholder="Enter text">
                    <input type="submit" class="form-button" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <!-- <strong>Form Results:</strong> -->
                <div id="results">
                    <table class="result-table">
                        <caption>Sentiment Analysis Results</caption>
                        <thead>
                            
                        </thead>
                        <tbody class="table-body">
                            <tr class="table-row-inline">
                                <td class="entry-title">Agreement</td>
                                <td class="data" id="agreement"></td>
                            </tr>
                            <tr class="table-row-inline">
                                <td class="entry-title">Subjectivity</td>
                                <td class="data" id="subjectivity"></td>
                            </tr>
                            <tr class="table-row-inline">
                                <td class="entry-title">Irony</td>
                                <td class="data" id="irony"></td>
                            </tr>
                            <tr class="table-row-block">
                                <td class="entry-title">Confidence</td>
                                <td class="data symbol" id="confidence"></td>
                            </tr>
                            <tr class="table-row-block">
                                <td class="entry-title">Score tag</td>
                                <td class="data symbol" id="score-tag"></td>
                            </tr>
                        </tbody>
                        <!-- <tfoot>Source: <a href="https://www.meaningcloud.com/">Meaning Cloud</a></tfoot> -->
                    </table>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js').then(registration => {
        console.log('SW registered: ', registration);
    }).catch(registrationError => {
    console.log('SW registration failed: ', registrationError);
    });
    });
}
        </script>
    </body>
</html>
