<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="text" type="text" name="input" value="" placeholder="Enter text">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <table>
                        <caption>Sentiment Analysis Results</caption>
                        <tbody>
                            <tr class="table-row-inline">
                                <td class="entry-title"></td>
                                <td id="agreement"></td>
                            </tr>
                            <tr class="table-row-inline">
                                <td class="entry-title"></td>
                                <td id="subjectivity"></td>
                            </tr>
                            <tr class="table-row-inline">
                                <td class="entry-title"></td>
                                <td id="irony"></td>
                            </tr>
                            <tr class="table-row-block">
                                <td class="entry-title"></td>
                                <td id="confidence"></td>
                            </tr>
                            <tr class="table-row-block">
                                <td class="entry-title"></td>
                                <td id="score-tag"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
